<div class="container-fluid" id="dialog-container">
  <div class="row">
    <div class="col-lg-12 ">
      <div class="header-uikit">
        <div>
          <h1> Elementos UI</h1>
          <p>
            Los siguientes elementos son propuestos con el objetivo de estandarizar el uso y la gráfica de los sistemas
            internos de la BVES
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <label for="" class="ui-label-gray">Ejemplo de label gray</label>
      <br>
      <br>
      <label for="" class="ui-label-black">Ejemplo de label black</label>
      <br>
      <button ejs-button class="btn-ui btn-secundario" cssClass="e-link" style="margin-top:17px">Actualizar</button>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1 class="boton-progress-butt ">Auto complete </h1>
      <br>

      <app-autocomplete class="autocomplete"></app-autocomplete>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1 class="boton-progress-butt ">Boton (Progress Button )</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-venta"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-venta-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-venta-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-venta-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-venta"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-venta-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-venta-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-venta-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-compra"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-compra-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-compra-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-primario-compra-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-compra"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-compra-hover "></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-compra-focus"></app-buttons>
    </div>
    <div class="col-lg-3">
      <app-buttons class="btn-ui btn-secundario-compra-disable"></app-buttons>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Grupo de Botones </h1>
      <br>
      <app-groupbuttons class="groupbuttons-primario"></app-groupbuttons>
      <!---aqui encontramos el componente usado para los groups buttons muestran los mismo porque usamos el mismo componente para poder usar el ejemplo con la clase diferente a su metodo de uso -->
      <br>
      <br>
      <app-groupbuttons class="groupbuttons-compra"></app-groupbuttons>
      <br>
      <br>
      <app-groupbuttons class="groupbuttons-venta"></app-groupbuttons>
    </div>
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Toggle Switch</h1>
      <br>
      <app-switch class="toggleswitch"></app-switch> Primario Off / Primario On
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Normal Textbox</h1>
      <br>
    </div>
    <div class="col-lg-9">
      <br>
      <h1 class="boton-progress-butt "> DropDown </h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <app-textbox class="ui-textbox "></app-textbox>
    </div>
    <div class="col-lg-4">
      <div>
        <app-dropdownlist class="ui-dropdown"></app-dropdownlist>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <app-dropdownlist class="ui-dropdown"></app-dropdownlist>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-grid class='custom-grid'></app-grid>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-gridtgrouping class='custom-grid'></app-gridtgrouping>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-gridtoolbar class='custom-grid'></app-gridtoolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Calendar</h1>
      <br>
    </div>
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Calendar Rangue </h1>
      <br>
    </div>
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Input Number </h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-calendar class="ui-calendar"></app-calendar>
    </div>
    <div class="col-lg-3">
      <app-calendar-range class="ui-calendar-rangue"></app-calendar-range>
    </div>
    <div class="col-lg-3">
      <app-input-number class="input-number"></app-input-number>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Checkbox</h1>
      <br>
    </div>
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Checkbox frame </h1>
      <br>
    </div>
    <div class="col-lg-3">
      <br>
      <h1 class="boton-progress-butt "> Slider </h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <app-checkbox class="ui-checkbox"></app-checkbox>
    </div>
    <div class="col-lg-3">
      <app-checkbox-frame class="ui-checkbox"></app-checkbox-frame>
    </div>
    <div class="col-lg-3">
      <app-slider-limits class="ui-slider"></app-slider-limits>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <app-tooltip class="ui-tooltip"></app-tooltip>
    </div>
    <div class="col-lg-3">
      <app-card class="ui-card "></app-card>
    </div>
    <div class="col-lg-3">
      <app-toast class="ui-toast"></app-toast>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Acordion</h1>
      <br>
    </div>
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Tabs </h1>
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-acordion class="ui-acordion"></app-acordion>
    </div>
    <div class="col-lg-6">
      <app-tabs class="ui-tab"></app-tabs>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Menu</h1>
      <br>
    </div>
    <div class="col-lg-6">
      <br>
      <h1 class="boton-progress-butt "> Vertical menu </h1>
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-menu class="ui-horizontal-menu"></app-menu>
    </div>
    <div class="col-lg-6">
      <app-menu-vertical class="ui-vertical-menu"></app-menu-vertical>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1 class="boton-progress-butt "> Pop Up</h1>
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      <app-popup class="ui-popup"></app-popup>
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <app-context-menu class="ui-context-menu" cssClass="ui-context-menu"></app-context-menu>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-chips class="ui-chip"></app-chips>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
</div>