<section class="dashboard">
  <div class="wrapper">
    <!-- Sidebar  -->
    <!-- aqui hare el toggle de la clase para poder expandir el sidebar -->
    <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar " [ngClass]="status ? 'active' : ''">
      <div class="sidebar-header">
        <h3>Menú</h3>
      </div>
      <!-- <div class="container_sidebar">
        <ul class="">

          <li class="">
            <a tabindex="-1" href="#">Menu 1 </a>
            <ul class="">

              <li class=""><a tabindex="-1" href="#">item 1</a></li>
              <li class=""><a href="#">item 2</a></li>
              <li class=""><a href="#">item 3</a></li>
              <li class="">
                <a href="#">sub menu</a>
                <ul class="parent">
                  <li>
                    <a href="#">
                      sub item 1
                    </a>
                  </li>
                  <li><a href="#">sub item 2</a></li>
                  <li><a href="#">sub item 3</a></li>
                </ul>
              </li>
              <li class=""><a href="#">item 4</a></li>
              <li class=""><a href="#">item 3</a></li>
              <li class=""><a href="#">item 4</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-link register-custom" (click)="onTabClick(0)">HOME</a>
          </li>
          <li>
            <a class="nav-link register-custom" (click)="onTabClick(1)">UI/KIT</a>
          </li>
          <li>
            <a class="nav-link register-custom" (click)="onTabClick(2)">ERROR</a>
          </li>
          <li>
            <a class="nav-link register-custom" (click)="onTabClick(3)">Detalle</a>
          </li>
          <li>
            <a class="nav-link register-custom" (click)="onTabClick(4)">Registro</a>
          </li>
        </ul>

      </div> -->
      <sm-simple-sidenav [menu]="menu" [activeID]="'12'" [animation]="{
        in: {value: 'slide-in-stagger'},
        out: {value: 'slide-out'}
      }" [withArrow]="true" (onSidenav)="onClick($event)">
      </sm-simple-sidenav>

    </nav>
    <!-- Page Content  -->
    <!-- aqui hare el toggle de la clase para poder expandir el sidebar -->
    <div id="content" [ngClass]="status ? 'active' : ''">
      >
      <header>
        <div class="column_one">
          <div class="hamburguer-menu">
            <button type="button" id="sidebarCollapse" (click)="toggle_sidebar()" class="btn">
              <i class="fas fa-align-left"></i>
            </button>

            <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button> -->
          </div>

          <a (click)="onTabClick(0)">
            <img src="./assets/img/logo.png" alt="" />
          </a>
        </div>
        <div class="column_two" [ngClass]="status ? ' ' : 'active_sidebar'">
          <ul>
            <li>
              <div>
                <label for="">09:45 am</label>
                <label for="">Mar 13 agost 2019</label>
              </div>
            </li>
            <li class="nav-item-dropdown">

              <a class="dropdown-trigger" href="#">
                <img class="bell" src="./assets/img/bell.png" alt="" />
              </a>
              <div class="dropdown-menu  ui-tooltip-notification ">
                <ul class=" list">
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div class="block-2">
                      <ul class="all-list">
                        <li>
                          <a href="">Ver todas las Notificaciones </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

            </li>
            <li class="nav-item-dropdown">
              <a class="dropdown-trigger" href="#">
                <img class="block" src="./assets/img/frame.png" alt="" />
              </a>

              <div class=" dropdown-menu ui-tooltip-app">
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
              </div>

            </li>
            <li class="nav-item-dropdown">

              <div class="user-name dropdown-trigger  ">
                <img src=" ./assets/img/ico-logo-emp.svg" alt="" />
                <label for="">Carlos Martinez</label>
              </div>

              <div class="content-user dropdown-menu  ui-tooltip-logout">
                <div class="block-1">
                  <ul class="user">
                    <li>
                      <img src="./assets/img/ico-logo-emp.svg" alt="" />
                    </li>
                    <li>
                      <div>
                        <strong>carlosmartinez@bolsadevalores.com</strong>
                        <br />
                        <label for="">carlosmartinez@bolsadevalores.com</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div>
                  <hr />
                </div>
                <div class="block-2">
                  <a href="/login">
                    <ul class="user">
                      <li>
                        <img src="./assets/img/logout.svg" alt="" />
                      </li>
                      <li>
                        <label for="">Cerrar Sesión</label>
                      </li>
                    </ul>
                  </a>
                </div>
              </div>



            </li>
            <li></li>
          </ul>
        </div>
      </header>

      <section class="main">
        <div class="main-content">
          <!-- <div [innerHTML]="toShow"></div> -->

          <!-- Aqui es donde mostramos los componentes, dentro del main content-->

          <!-- usamos la variable para validar "tabIndex"  si está en 0 mostrará el componente app-home, si es 1 mostrarâ el componente app-uikit y si es 2 mostrarâ dentro del div el contenido de nusestro micro modulo -->

          <!-- Component -->
          <app-home *ngIf="tabIndex === 0"></app-home>
          <app-uikit *ngIf="tabIndex === 1"></app-uikit>
          <!-- Fin Component -->

          <!--Micro modulo-->
          <div *ngIf="tabIndex === 2" [innerHTML]="toShow"></div>
          <!-- Fin Micro modulo-->

          <!-- Component -->
          <app-detail *ngIf="tabIndex === 3"></app-detail>
          <app-registry *ngIf="tabIndex === 4"></app-registry>
          <!-- Fin Component -->

          <!-- Fin main content-->
        </div>

        <div class="sidebar-right">
          <div>
            <ul>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-white">
                  <img src="./assets/img/ico-cruz.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 footer">
              <img src="./assets/img/logo-gris.png" alt="" />
              <p [innerHTML]="text"></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>