.main {
  display: flex;
  justify-content: flex-end;

  .main-content {
    width: calc(100% - 70px);
    padding-bottom: 50px;
    margin-right: 70px;


  }

  .sidebar-right {
    background: #f1f4f8;
    width: 70px;
    position: fixed;
    height: 100%;
    right: 0 !important;

    ul {
      list-style: none;

      li {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          cursor: pointer;
        }

        a.circle-blue {
          width: 42px;
          height: 42px;
          background-color: #002b98;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        a.circle-white {
          width: 42px;
          height: 42px;
          border: solid 1px #e2e2e2;
          background-color: #ffffff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.hamburguer-menu {
  width: 75px;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.active_sidebar {
  margin-right: 15%;
}

#sidebar {
  a {
    color: #5a5a5a;
    text-decoration: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 0px 0px 20px 0px;
    width: 100%;
    display: block;
    height: 100%;
  }

  li:hover a {
    // border-top: 1px solid #a4acb7;
    border-bottom: 1px solid #a4acb7;

    li:hover {
      a {
        border-top: 1px solid #a4acb7;
      }
    }
  }

  li {
    padding: 20px 20px 0 20px;
    width: 100%;
    color: #5a5a5a;

  }

  .container_sidebar {
    height: 100%;
  }

  .container_sidebar ul {
    height: 100%;
  }

  .container_sidebar>ul {
    width: 216px;
    background-color: #fff;
    position: relative;
    overflow: visible;
    list-style-type: none;
  }

  .container_sidebar>ul>li {}

  .container_sidebar>ul>li:hover {
    background-color: #fff;

    li:hover {
      margin-top: -1px;

      a {
        border-top: 0px;
      }
    }
  }

  .container_sidebar>ul>li>ul {
    display: none;
    // position: absolute;
    right: -216px;
    top: 0;
    width: 216px;
    background-color: #fff;
    list-style-type: none;
    margin-left: -3px;

    li:hover {
      border-left: 3px solid #01973d;

      li:hover {
        border-left: 3px solid #01973d;
      }
    }
  }

  .container_sidebar>ul>li:hover>ul {
    display: block;

  }

  .container_sidebar>ul>li>ul>li:hover {
    background-color: #bfebd1;
    padding-left: 0px;
  }

  .container_sidebar>ul>li>ul>li>ul {
    display: none;
    // position: absolute;
    right: -216px;
    top: 0;
    width: 216px;
    background-color: #fff;
    list-style-type: none;
    margin-left: -3px;
  }

  .container_sidebar>ul>li>ul>li:hover ul {
    display: block;
  }

  .container_sidebar>ul>li>ul>li>ul>li:hover {
    background-color: #bfebd1;
  }

  .container_sidebar>ul>li>ul>li ul li ul li {
    border-bottom: 1px solid #dfdfdf;
    padding: 20px;
  }


}