/* You can add global styles to this file, and also import other style files */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  cursor: pointer !important;
}

/* ----------------------------- */
/* ------      Indice      ----- */
/* ----------------------------- */

// - 01 - ui/kit class btn primario
// - 02 - ui/kit class btn secundario
// - 03 - ui/kit class btn primario compra
// - 04 - ui/kit class btn secundario compra
// - 05 - ui/kit class btn primario venta
// - 06 - ui/kit class btn secundario venta
// - 07 - ui/kit class group buttons
// - 08 - ui/kit class group buttons compra
// - 09 - ui/kit group buttons venta
// - 10 - ui/kit - toggleswitch
// - 11 - ui/kit textbox
// - 12 - ui/kit Dropdown
// - 13 - ui/kit Grid
// - 14 - ui/kit Input number
// - 15 - ui/kit checkbox
// - 16 - ui/kit horizontal menu
// - 17 - ui/kit vertical menu
// - 18 - ui/kit card
// - 19 - ui/kit Tab
// - 20 - ui/kit Tooltip
// - 21 - ui/kit Toast
// - 22 - ui/kit Popup
// - 23 - ui/kit Dialog
// - 24 - ui/kit Slider
// - 25 - ui/kit Calendar
// - 26 - ui/kit Ui Chip
// - 27 - ui/kit calendar rangue
// - 28 - ui/kit tooltip
// - 28 - 01 - ui/kit tooltip app
// - 28 - 02 - ui/kit tooltip logout
// - 28 - 03 - ui/kit tooltip Notification
// - 30 - ui/kit Label gray and black
// - 31 -  Import style project

body {
  // 01 -ui/kit class btn primeario
  position: relative;
  margin-bottom: 51px;

  .btn-ui,
  .btn-ui button {
    min-width: 150px;
    height: 44px;
    font-family: Lato;
    font-size: 13px;
    margin: 0px 5px;
  }

  button.btn-primario,
  .btn-primario button {
    background-color: #002b98 !important;
    border-radius: 5px !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  button.btn-primario:hover,
  .btn-primario:hover button {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
  }

  button.btn-primario-hover,
  .btn-primario-hover button {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-focus,
  .btn-primario-focus button {
    background-color: #002b98 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-disable,
  .btn-primario-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  // 02 - ui/kit class btn secundario
  .btn-secundario button {
    background-color: #ffff !important;
    border: 1px solid #0230a6 !important;
    border-radius: 5px !important;
    color: #0230a6 !important;
    text-decoration: none !important;
  }

  .btn-secundario button:hover {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
  }

  button.btn-secundario {
    background-color: #ffff !important;
    border: 1px solid #0230a6 !important;
    border-radius: 5px !important;
    color: #0230a6 !important;
    text-decoration: none !important;
  }

  button.btn-secundario:hover {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
  }

  button.btn-secundario-hover,
  .btn-secundario-hover button {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-focus,
  .btn-secundario-focus button {
    background-color: #ffff !important;
    border: 1px solid #0230a6 !important;
    border-radius: 5px !important;
    color: #0230a6 !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-disable,
  .btn-secundario-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-active,
  .btn-secundario-active button {
    background-color: #042476 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  //03 - ui/kit class btn primario compra
  button.btn-primario-compra,
  .btn-primario-compra button {
    background-color: #fc7c05 !important;
    border-radius: 5px !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  button.btn-primario-compra:hover,
  .btn-primario-compra button:hover {
    background-color: #ed923e !important;
    border-radius: 5px !important;
    color: #fff !important;
  }

  button.btn-primario-compra-hover,
  btn-primario-compra-hover button {
    background-color: #ed923e !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-compra-focus,
  btn-primario-compra-focus button {
    background-color: #fc7c05 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-compra-disable,
  btn-primario-compra-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  button.btn-primario-compra-active,
  btn-primario-compra-active button {
    background-color: #ed923e !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  // 04 - ui/kit class btn secundario compra
  button.btn-secundario-compra,
  .btn-secundario-compra button {
    background-color: #ffff !important;
    border: 1px solid #fc7c05 !important;
    border-radius: 5px !important;
    color: #fc7c05 !important;
    text-decoration: none !important;
  }

  button.btn-secundario-compra:hover,
  .btn-secundario-compra button:hover {
    background-color: #fc7c05 !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-compra-hover,
  .btn-secundario-compra-hover button {
    background-color: #fc7c05 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-compra-focus,
  .btn-secundario-compra-focus button {
    background-color: #ffff !important;
    border: 1px solid #fc7c05 !important;
    border-radius: 5px !important;
    color: #fc7c05 !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-compra-active,
  .btn-secundario-compra-active button {
    background-color: #ffff !important;
    border: 1px solid #fc7c05 !important;
    border-radius: 5px !important;
    color: #fc7c05 !important;
    text-decoration: none !important;
  }

  button.btn-secundario-compra-disable,
  btn-secundario-compra-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  // 05 -  ui/kit class btn primario venta
  button.btn-primario-venta,
  .btn-primario-venta button {
    background-color: #00b147 !important;
    border-radius: 5px !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  button.btn-primario-venta:hover,
  .btn-primario-venta button:hover {
    background-color: #00b147 !important;
    border-radius: 5px !important;
    color: #fff !important;
  }

  button.btn-primario-venta-hover,
  .btn-primario-venta-hover button {
    background-color: #25ba61 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-venta-focus,
  .btn-primario-venta-focus button {
    background-color: #00b147 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-primario-venta-active,
  .btn-primario-venta-active button {
    background-color: #00b147 !important;
    border-radius: 5px !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  button.btn-primario-venta-disable,
  .btn-primario-venta-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  // 06 - ui/kit class btn secundario venta
  button.btn-secundario-venta,
  .btn-secundario-venta button {
    background-color: #ffff !important;
    border: 1px solid #00b147 !important;
    border-radius: 5px !important;
    color: #00b147 !important;
    text-decoration: none !important;
  }

  button.btn-secundario-venta:hover,
  .btn-secundario-venta button:hover {
    background-color: #00b147 !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-venta-hover,
  .btn-secundario-venta-hover button {
    background-color: #25ba61 !important;
    border-radius: 5px !important;
    color: #fff !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-venta-focus,
  .btn-secundario-venta-focus button {
    background-color: #ffff !important;
    border: 1px solid #00b147 !important;
    border-radius: 5px !important;
    color: #00b147 !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-venta-disable,
  .btn-secundario-venta-disable button {
    text-decoration: none !important;
    color: #7695a4 !important;
    background-color: #ebebeb !important;
    border-radius: 5px !important;
  }

  button.btn-secundario-venta-active,
  .btn-secundario-venta-active button {
    background-color: #ffff !important;
    border: 1px solid #00b147 !important;
    border-radius: 5px !important;
    color: #00b147 !important;
    text-decoration: none !important;
  }

  // 07 - ui/kit class bgroupbuttons

  .groupbuttons-primario.e-btn-group,
  .groupbuttons-primario .e-btn-group {
    border: 1px solid #0230a6;
    border-radius: 5px;
    height: 44px;

    button {
      width: calc(100% / 2);
      border-radius: 5px;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    button:nth-child(1) {
      margin-left: 3px !important;
    }

    button:nth-child(2) {
      margin-right: 3px !important;
    }

    button:hover,
    button:active,
    button:focus,
    button.active {
      background-color: #002b98 !important;
      color: #fff !important;
    }
  }

  // 08 - ui / kit group buttons compra

  .groupbuttons-compra.e-btn-group,
  .groupbuttons-compra .e-btn-group {
    border: 1px solid #00b147;
    border-radius: 5px;
    height: 44px;

    button {
      width: calc(100% / 2);
      border-radius: 5px;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    button:nth-child(1) {
      margin-left: 3px !important;
    }

    button:nth-child(2) {
      margin-right: 3px !important;
    }

    button:hover,
    button:active,
    button:focus,
    button.active {
      background-color: #00b147 !important;
      color: #fff !important;
    }
  }

  // 09 - ui/kit group buttons venta

  .groupbuttons-venta.e-btn-group,
  .groupbuttons-venta .e-btn-group {
    border: 1px solid #fc7c05;
    border-radius: 5px;
    height: 44px;

    button {
      width: calc(100% / 2);
      border-radius: 5px;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    button:nth-child(1) {
      margin-left: 3px !important;
    }

    button:nth-child(2) {
      margin-right: 3px !important;
    }

    button:hover,
    button:active,
    button:focus,
    button.active {
      background-color: #fc7c05 !important;
      color: #fff !important;
    }
  }

  //10 - ui/kit - toggleswitch

  .toggleswitch.e-switch-wrapper,
  .toggleswitch .e-switch-wrapper {
    height: 25px;
    width: 42px;

    .e-switch-handle {
      height: 22px !important;
      width: 22px !important;
      top: -1px;
    }

    .e-switch-handle.e-switch-active {
      margin-left: -24px !important;
      background-color: #fff;
    }

    .e-switch-on {
      background-color: #002b98;
    }

    .e-switch-off {
      background-color: #002b98;
      opacity: 0.2404901413690476;
    }
  }

  .toggleswitch.e-switch-wrapper:hover,
  .toggleswitch .e-switch-wrapper:hover {
    .e-switch-inner.e-switch-active {
      .e-switch-on {
        background-color: #002b98;
      }
    }
  }

  //11 - ui/kit textbox
  .ui-textbox {
    .wrap {
      padding: 0px;
      width: auto;
    }

    .e-input-group {
      input {
        border: 1px solid #e2e2e2 !important;
        background-color: #fff;
      }
    }
  }

  .e-input-group {
    border: 0px !important;
    margin-bottom: 0px !important;

    input {
      background-color: #ffffff;

      // border: 1px solid #E2E2E2 !important;
      padding: 0px 10px !important;
      border-radius: 5px !important;
      width: 100%;
      height: 44px;
      margin: 0px 0px;
    }

    label {
      color: #5a5a5a;
      font-family: Lato;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      text-align: left;
      left: 10px;
    }
  }

  //12 - ui/kit Dropdown
  .ui-dropdown label {
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    left: 10px;
    color: #5a5a5a;
  }

  .ui-dropdown.e-dropdownlist,
  .ui-dropdown .e-dropdownlist {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 0px;

    span,
    input {
      height: 44px;
      border: 0px !important;
      padding: 0px 10px;
    }
  }

  // 13 - ui/kit Grid

  .e-grid .e-headercell,
  .e-grid .e-detailheadercell,
  .custom-grid .e-grid .e-headercell,
  .custom-grid .e-grid .e-detailheadercell {
    padding: 17px 10px 17px 10px;
  }

  .e-grid .e-groupdroparea {
    background-color: #fff !important;
  }

  .e-grid .e-groupdroparea.e-grouped {
    background-color: #0037c1 !important;
  }

  .custom-grid.e-table,
  .custom-grid .e-table {
    tbody tr:nth-child(odd) {
      background-color: #f4f5f9;
    }
  }

  .custom-grid .e-pager,
  .custom-grid.e-pager {
    .e-currentitem {
      background: #e8eefd;

      color: #002b98;
      font-family: Lato;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-align: center;
    }
  }

  .custom-grid .e-grid,
  .custom-grid.e-grid {
    .e-rowcell {
      color: #4a4a4a !important;
    }
  }

  .boton-progress-butt {
    color: #858585;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    text-align: left;
  }

  //14 - ui/kit Input number

  .input-number.e-numeric,
  .input-number .e-numeric {
    border: 1px solid #e2e2e2 !important;
    border-radius: 5px !important;
    height: 44px !important;
    padding: 10px;
    background-color: #ffff !important;
  }

  // .e-control {
  //   min-height: 35px !important;
  // }

  // 15 - ui/kit checkbox
  .ui-checkbox {
    ul {
      list-style: none;
    }
  }

  .e-checkbox-wrapper .e-frame.e-check,
  .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: #00b147 !important;
  }

  .ui-acordion.e-accordion,
  .ui-acordion .e-accordion {
    border: 0px solid #e2e2e2 !important;

    .e-acrdn-header-content {
      color: #002b98 !important;
    }

    .e-acrdn-header {
      background-color: #f6f6f6;
      border: 1px solid #e2e2e2;
      border-radius: 5px 5px 0 0;
      height: 44px;
    }

    .e-acrdn-panel {
      border: 1px solid #e2e2e2;
    }
  }

  // 16 - ui horizontal menu

  .ui-horizontal-menu.e-menu-wrapper,
  .ui-horizontal-menu .e-menu-wrapper {
    // background-color: #FFFFFF;
    // border: 1px solid #E2E2E2;
    // border-radius: 5px 5px 5px 5px;
    // /* width: 418px; */
    // height: 44px;
  }

  .ui-horizontal-menu.e-menu-parent,
  .ui-horizontal-menu .e-menu-parent {
    border: 1px solid #e2e2e2;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    height: 44px;
  }

  // 17 - ui/kit vertical menu

  .ui-vertical-menu .e-popup-open,
  .ui-vertical-menu .e-popup-open {
    .e-menu-parent {
      border: 1px solid #e2e2e2;
      border-radius: 5px 5px 5px 5px;
    }
  }

  .ui-vertical-menu .e-menu-wrapper,
  .ui-vertical-menu.e-menu-wrapper {
    // background-color: #FFFFFF;
    // border: 1px solid #E2E2E2;
    // border-radius: 5px;

    ul {
      min-width: 233px;
    }

    .e-menu-parent {
      border: 1px solid #e2e2e2;
      border-radius: 5px 5px 5px 5px;
      background-color: #ffffff;
    }
  }

  //18 - ui/kit card

  .ui-card .e-card,
  .ui-card.e-card {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 6px;

    // width: 268px;
    /* height: 75px; */
    border-left: 5px solid #002b98;
    margin-bottom: 5px;

    .e-card-header {
      padding: 0px !important;
      min-height: auto !important;
    }

    .e-card-title {
      color: #002b98;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      text-align: left;
      margin-bottom: 5px;
    }

    .e-card-content {
      color: #4a4a4a;
      font-family: Lato;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      width: 183px;
      text-align: left;
      padding: 0px !important;
    }
  }

  // 19 - ui/kit Tab

  .ui-tab .e-tab,
  .ui-tab.e-tab {
    .e-content {
      padding: 10px;
      font-family: Lato;
    }

    .e-tab-wrap:hover {
      .e-tab-text {
        color: #002b98 !important;
      }
    }

    .e-text-wrap:hover {
      .e-tab-text {
        color: #002b98 !important;
      }
    }

    .e-tab-header {
      .e-active {
        .e-tab-text {
          color: #002b98;
        }
      }

      .e-indicator {
        background-color: #002b98;
      }

      .e-tab-wrap:hover {
        color: #002b98;
      }

      .e-toolbar-item.e-active {
        .e-tab-text {
          color: #002b98;
        }
      }
    }
  }

  //20 - ui/kit Tooltip

  .ui-tooltip.tooltipContent,
  .ui-tooltip .tooltipContent {
    input {
      background-color: #002b98;
      border-radius: 5px;
      width: 179px;
      height: 44px;
      color: #fff;
    }
  }



  .ui-tooltip-notification {
    // opacity: 1 !important;
    border-radius: 5px !important;
    background-color: #ffff !important;
    min-width: 243px;

    box-shadow: -20px 14px 24px 0 rgba(0, 0, 0, 0.05) !important;
    border: solid 1px #dfdfdf !important;
    padding: 15px 5px;

    .e-tip-content {
      background: transparent;
    }

    ul.list {
      list-style: none;
      display: list-item !important;
      position: relative;

      li {
        color: #002b98;
        width: calc(100%);
        display: flex;
        align-items: center;
        justify-content: center;

        strong {
          font-family: Lato;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #002b98;
          font-weight: bold;
        }

        label {
          font-family: Lato;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5a5a5a;
        }
      }
    }

    .block-2 {
      text-align: center;
    }

    .e-arrow-tip-outer.e-tip-top {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }
  }

  //21 - ui/kit Toast
  button.ui-toast,
  .ui-toast button {
    background-color: #002b98 !important;
    border-radius: 5px;
    width: 179px;
    height: 44px;
    color: #fff;
  }

  //22 - ui/kit Popup
  .ui-popup {
    button#targetButton {
      background-color: #002b98 !important;
      border-radius: 5px;
      width: 179px;
      height: 44px;
      color: #fff;
    }

    #dialog {
      background-color: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 7px;
      height: 100%;
      display: block;
      position: relative;
    }
  }

  // 23 - ui/kit Dialog
  .e-dialog {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    box-shadow: none;

    .e-dlg-header-content {
      background: transparent;
    }

    .e-footer-content {
      background: transparent;
    }

    .e-dlg-heade {
      color: #4a4a4a;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-align: left;
    }

    .e-dlg-content {
      color: #4a4a4a;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;
    }

    .e-footer-content {
      padding: 20px 8px;
    }

    button {
      border: 1px solid #002b98 !important;
      border-radius: 5px;
      width: 179px;
      height: 44px;
      color: #002b98;
      font-family: Lato;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
    }

    button.e-primary {
      background-color: #002b98 !important;
      border: 1px solid #002b98 !important;
      border-radius: 5px;
      width: 179px;
      height: 44px;
      color: #fff !important;
      font-family: Lato;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
    }
  }

  .e-dialog.e-popup {
    position: fixed;
  }

  //24 -  ui/kit Slider
  .ui-slider {
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
      background-color: #002b98 !important;
    }

    .e-control-wrapper.e-slider-container .e-slider .e-handle {
      background-color: #002b98 !important;
      border-color: #002b98 !important;
    }

    .e-control-wrapper.e-slider-container .e-slider .e-handle {
      background-color: #002b98 !important;
      border-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
      background-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup {
      background-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup {
      background-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
      background-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
      background-color: #002b98 !important;
    }

    .e-control-wrapper.e-slider-container .e-slider .e-range {
      background-color: #002b98 !important;
    }

    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
      background-color: #002b98 !important;
    }
  }

  // 25 - ui/kit Calendar

  .ui-calendar.e-datepicker,
  .ui-calendar .e-datepicker {
    .e-input-group {
      background-color: #ffffff !important;
      border: 1px solid #e2e2e2 !important;
      border-radius: 5px !important;
      // max-width: 222px;
      height: 44px !important;
      padding: 5px !important;
    }
  }

  //26 - ui/kit Ui Chip

  .ui-chip.e-chip,
  .ui-chip .e-chip {
    width: 113px;
    height: 30px;

    .e-success {
      background-color: #002b98 !important;
      border-radius: 17px;
    }

    .e-info {
      background-color: #00b147 !important;
      border-radius: 17px;
    }

    .e-warning {
      background-color: #fc7c05 !important;
      border-radius: 17px;
    }
  }

  .ui-calendar {}

  // 27 - ui/kit calendar rangue

  .ui-calendar-rangue {
    // span.e-day {
    //   background-color: #002B98 !important;
    // }
  }

  .e-float-input,
  .e-float-input.e-control-wrapper {
    margin-top: 0px !important;
  }

  //  28 - ui/kit tooltip

  .ui-tooltip {}

  .ui-tooltip .e-btn,
  .ui-tooltip.e-btn {
    background: transparent;
    box-shadow: none;
    font-family: Lato;
    font-weight: 600;
    text-transform: capitalize;
  }

  ul.list-tooltip {
    li {
      display: flex;
      justify-content: space-between;

      label.text-2 {
        font-weight: bold;
      }
    }
  }

  .ui-tooltip.e-tooltip-wrap {
    border: 1px solid #1d2f5f !important;
    opacity: 0.9 !important;
    border-radius: 5px !important;
    min-width: 185px;
    background-image: linear-gradient(180deg,
        #0230a6 0%,
        #02072f 100%) !important;
    background-color: transparent !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-outer.e-tip-top {
    border-top-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-outer.e-tip-bottom {
    border-top-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-outer.e-tip-top {
    border-bottom-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-outer.e-tip-left {
    border-right-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-outer.e-tip-right {
    border-left-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-inner.e-tip-bottom {
    border-top-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-inner.e-tip-top {
    border-bottom-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-inner.e-tip-left {
    border-right-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  .ui-tooltip.e-tooltip-wrap .e-arrow-tip-inner.e-tip-right {
    border-left-color: #1d2f5f !important;
    color: #1d2f5f !important;
  }

  //  28 - 01 - ui/kit tooltip app
  .ui-tooltip-app.e-popup {
    background-color: #fff !important;
  }

  .ui-tooltip-app {
    opacity: 1 !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    min-width: 243px;

    box-shadow: -20px 14px 24px 0 rgba(0, 0, 0, 0.05) !important;
    border: solid 1px #dfdfdf !important;

    .e-tip-content {
      background: transparent;
    }

    ul.list-tooltip-app {
      list-style: none;

      li {
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        color: #1d2f5f !important;
        width: calc(100% / 3) !important;
        height: auto !important;
        border: 0px !important;
        padding: 0 !important;

        div {
          text-align: center !important;

          a {
            width: 42px;
            height: 42px;
            background-color: #002b98;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px auto;
            padding: 0px !important;



            img {
              width: 15.9px;
              height: 16px;
              object-fit: contain;
            }
          }

          label {
            font-size: 10px;
          }
        }
      }
    }

    .e-arrow-tip-outer.e-tip-top {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }
  }

  // 28 - 01 - ui/kit tooltip logout
  .ui-tooltip-logout.e-popup {
    background-color: #fff !important;
  }

  .ui-tooltip-logout {
    opacity: 1 !important;
    border-radius: 5px !important;
    background-color: #ffff !important;
    min-width: 320px !important;
    margin-left: -53px !important;
    box-shadow: -20px 14px 24px 0 rgba(0, 0, 0, 0.05) !important;
    border: solid 1px #dfdfdf !important;
    padding: 15px 5px;

    .e-tip-content {
      background: transparent;
    }

    ul.user {
      list-style: none;
      display: flex;
      justify-content: space-around;

      li,
      li:nth-child(4) {
        color: #002b98;
        width: calc(100% / 2) !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto !important;
        width: auto !important;
        border: 0 !important;

        strong {
          font-family: Lato;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5a5a5a;
          font-weight: bold;
        }

        label {
          font-family: Lato;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5a5a5a;
        }

        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }

    .e-arrow-tip-outer.e-tip-top {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-outer.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-bottom {
      border-top-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-top {
      border-bottom-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-left {
      border-right-color: #dfdfdf !important;
      color: #fff !important;
    }

    .e-arrow-tip-inner.e-tip-right {
      border-left-color: #dfdfdf !important;
      color: #fff !important;
    }
  }

  // 28 - 01 - ui/kit tooltip Notification
  .ui-tooltip-notification.e-popup {
    background-color: #fff !important;
  }



  .ui-context-menu {}

  .e-contextmenu-wrapper {
    ul.e-contextmenu {
      border: 1px solid #e2e2e2 !important;
      border-radius: 5px 5px 5px 5px !important;
      background-color: #ffffff !important;
      box-shadow: none !important;
    }
  }

  //29 dashboard panel - card
  .panel {

    .ui-card .e-card,
    .ui-card.e-card {
      display: flex;
      flex-direction: inherit !important;

      .e-card-title {
        font-family: Lato;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #002b98;
      }
    }
  }

  .ui-card .e-card,
  .ui-card.e-card {
    display: flex;
    flex-direction: inherit !important;

    .e-card-title {
      font-family: Lato;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #002b98;
    }
  }

  //30  ui/kit Label gray and black
  .ui-label-gray {
    font-family: Lato;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #a8a8a8 !important;
  }

  .ui-label-black {
    font-family: Lato;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #5a5a5a !important;
  }

  .wrap[_ngcontent-c10] {
    .e-input-group[_ngcontent-c10] {
      // margin: 7px 0 !important;
      // margin: 7px 0px 10px 0px !important;
      margin: auto !important;
    }
  }

  .wrap[_ngcontent-c10] .e-input-group[_ngcontent-c10] {
    // margin: 7px 0 !important;
    // margin: 7px 0px 10px 0px !important;
    margin: auto !important;
  }

  .panel {
    border-radius: 5px;
    border: solid 1px #dfdfdf;
    background-color: #fbfbfc;
    margin: 10px 0px;

    .panel-head {
      height: 40px;
      padding: 10px;
    }
  }

  .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before,
  .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
  .e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
  .e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
  .e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before,
  .e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after,
  .e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
  .e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after {
    height: 0px !important;
  }

  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
  .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
  .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
  .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
  .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
  .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
  .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    height: 0px !important;
  }

  //autocomplete
  .e-autocomplete{
    background-color: #ffffff !important;
    border: 1px solid #e2e2e2 !important;
    border-radius: 5px !important;
    height: 44px !important;
    padding: 5px !important;
    
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  // 31 -  Import style project
  @import "./assets/css/login.scss";
  @import "./assets/css/error.scss";
  @import "./assets/css/dashboard.scss";
  @import "./assets/css/detail.scss";
  // Import style syncfusion
  @import "./assets/css/material.css";
  @import "./assets/css/material.scss";

  // @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
  // @import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

  // Footer style

  html {
    min-height: 100%;
    position: relative;
  }

  body {
    position: relative;
    margin-bottom: 51px;
    margin: 0;

    .mCSB_inside>.mCSB_container {
      margin-right: 0px !important;
    }

    .mCSB_container {
      margin-right: 0px !important;
    }
  }

  .footer {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;

    border-top: solid 1px #dfdfdf;

    position: absolute;
    bottom: -51px;
    width: 100%;

    img {
      width: 82px;
      height: 34px;
      object-fit: contain;
      opacity: 0.4;
    }

    p {
      // width: 276px;
      height: 12px;
      font-family: Lato;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #a8a8a8;
      padding-left: 5%;
      width: 100%;
    }
  }

  .content-group-border-left-compra {
    border-left: #01973d 6px solid;
    border-radius: 5px;
  }

  .content-group-border-left-venta {
    border-left: #f47200 6px solid;
    border-radius: 5px;
  }




  //Dropdown menu
  .nav-item-dropdown {
    position: relative;

    &:hover>.dropdown-menu {
      display: block;
      opacity: 1;
    }
  }

  .dropdown-trigger {
    position: relative;

    &:focus+.dropdown-menu {
      display: block;
      opacity: 1;
    }

    &::after {
      // content: "›";
      // position: absolute;
      // color: #ED3E44;
      // font-size: 24px;
      // font-weight: bold;
      // transform: rotate(90deg);
      // top: -5px;
      // right: -15px;
    }
  }

  .dropdown-menu {

    border-radius: 5px !important;
    min-width: 243px;
    left: auto;
    right: auto;
    box-shadow: -20px 14px 24px 0 rgba(0, 0, 0, 0.05) !important;
    border: solid 1px #dfdfdf !important;
    padding: 15px 5px;
    background-color: #ffff;
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 3.0rem;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 100% !important;

    a {
      color: #fff;
    }
  }

  .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 46%;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 46.3%;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }

  .dropdown-menu-item {
    cursor: pointer;
    padding: 1em;
    text-align: center !important;
    color: #002b98;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    border: 0px !important;


    div {
      text-align: center !important;
    }

    strong {
      font-family: Lato;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #002b98;
      font-weight: bold;
      text-align: center !important;
    }

    label {
      font-family: Lato;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5a5a5a;
    }

    a {
      color: #002b98;
      padding-left: 0px !important;
    }

    &:hover {
      // background-color: darken(#ED3E44, 5%);
    }
  }

  #sidebar ul li:last-child() {
    border: 0px;

  }

  .simple-sidenav .active {
    background-color: #bfebd1;
  }

  .simple-sidenav__text {
    font-family: Lato;
  }

  .active {
    .simple-sidenav__text {
      color: #00b147;
      font-weight: bold;
    }

  }

  .simple-sidenav__item {
    margin-top: 0px;
  }

  .simple-sidenav__item-content {
    height: 50px;
    border-radius: 0px;
    border-bottom: solid 1px #dfdfdf;
    background-color: transparent;
  }

  .simple-sidenav-submenu .simple-sidenav {
    padding-left: 0px;
    color: #a8a8a8;
    background: #f4f4f4;
  }
}


@media only screen and (max-width: 980px) {
  .sidebar-img-login {
    display: none !important;
  }
}